.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 300px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 100;
}

.container {
  padding: 10px;
}

.router-outlet-container {
  position: relative;
  margin: auto;
  max-width: 960px;
}
