<p>websockets works!</p>

<app-color-range></app-color-range>

<hr />
<hr />

<button mat-raised-button color="primary" (click)="open()">connect</button>
<button mat-raised-button color="warn" (click)="close()">
  close connection
</button>
<div
  fxLayout
  fxLayoutGap="10px"
  *ngIf="coinApiService.isWebsocketConnected$ | async"
>
  <h3 class="mat-h3">Is connected !</h3>
  <button mat-raised-button color="accent" (click)="initQuotes()">
    getQuotes
  </button>

  <div>
    {{ trades.length }}
  </div>
</div>

<section class="container">
  <cdk-virtual-scroll-viewport [itemSize]="150" class="example-viewport">
    <div *cdkVirtualFor="let t of trades; index as i" class="example-item">
      <ng-container
        *ngTemplateOutlet="
          trade2;
          context: { $implicit: t, color: setBgColor(t.price) }
        "
      ></ng-container>
    </div>
  </cdk-virtual-scroll-viewport>
</section>

<ng-template #trade let-item let-color="color">
  <div class="price-container" [style.borderColor]="color">
    <div fxLayout fxLayoutAlign="space-between center">
      <div fxLayout="column">
        <h4 class="mat-h4">
          {{ item.time_exchange | date: "medium" }}
        </h4>
        <div class="mat-small" fxFlex="40">
          {{ item.uuid }}
        </div>
        <div class="mat-small">
          {{ item.size }}
        </div>
      </div>
      <div fxFlex="40" class="mat-display-2">
        {{ item.price }}
      </div>
    </div>
    <div class="price-fiszka" [style.backgroundColor]="color">&nbsp;</div>
  </div>
</ng-template>

<ng-template #trade2 let-item let-color="color">
  <div>
    <h3 class="mat-h3">
      <span class="mat-caption">exchange time: </span>
      {{ item.time_exchange | date: "medium" }}
    </h3>
    <div class="mat-small">
      <span class="mat-caption">uuuid: </span>{{ item.uuid }}
    </div>
    <h4 class="mat-h4">
      <span class="mat-caption">size: </span>{{ item.size }}
    </h4>
  </div>
  <div class="mat-display-2">
    <span class="mat-caption">price: </span>
    {{ item.price }}
  </div>
  <div class="price-fiszka" [style.backgroundColor]="color">&nbsp;</div>
</ng-template>
