<app-color-range [expanded]="isColorExpanded"></app-color-range>

<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title> Connection settings </mat-panel-title>
    <mat-panel-description>
      <span *ngIf="(isHandset$ | async) === false"> Active status:&nbsp;</span>
      <span *ngIf="isConnected"><strong>is connected</strong></span>
      <span *ngIf="!isConnected">disconnected</span>
    </mat-panel-description>
  </mat-expansion-panel-header>

  <div fxLayout>
    <ng-container *ngTemplateOutlet="buttonConnect"></ng-container>
    <ng-container *ngTemplateOutlet="buttonDisconnect"></ng-container>
  </div>
</mat-expansion-panel>

<mat-expansion-panel hideToggle [expanded]="isTradeExpanded">
  <mat-expansion-panel-header>
    <mat-panel-title> Trades </mat-panel-title>
    <mat-panel-description>
      <span *ngIf="(isHandset$ | async) === false"
        >Get Trades from websocket Coin API service</span
      >
      <span *ngIf="trades.length > 0">&nbsp;{{ trades.length }} items</span>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div
    fxLayout="column"
    fxLayoutAlign="space-between center"
    class="trades-container"
  >
    <cdk-virtual-scroll-viewport [itemSize]="125" class="example-viewport">
      <div *cdkVirtualFor="let t of trades; index as i" class="example-item">
        <ng-container
          *ngTemplateOutlet="
            trade;
            context: { $implicit: t, color: setBgColor(t.price) }
          "
        ></ng-container>
      </div>
    </cdk-virtual-scroll-viewport>

    <div fxLayout fxLayoutGap="5px">
      <button
        *ngIf="isConnected"
        [disabled]="isGettingTrades"
        mat-raised-button
        color="accent"
        (click)="initTrades(); isGettingTrades = true"
      >
        getTrades
      </button>
      <ng-container *ngTemplateOutlet="buttonConnect"></ng-container>
      <ng-container *ngTemplateOutlet="buttonDisconnect"></ng-container>
    </div>
  </div>
</mat-expansion-panel>

<ng-template #trade let-item let-color="color">
  <div
    *ngIf="(isHandset$ | async) === false"
    fxLayout
    fxLayoutAlign="space-between"
    class="example-item-data"
  >
    <div>
      <h3 class="mat-h3">
        <span class="mat-caption">exchange time: </span>
        {{ item.time_exchange | date: "medium" }}
      </h3>
      <div class="mat-small">
        <span class="mat-caption">uuuid: </span>{{ item.uuid }}
      </div>
      <h4 class="mat-h4">
        <span class="mat-caption">size: </span>{{ item.size }}
      </h4>
    </div>
    <div class="mat-display-2">
      <span class="mat-caption">price: </span>
      {{ item.price }}
    </div>
    <div fxFlex="0 1 15px" [style.backgroundColor]="color">&nbsp;</div>
  </div>

  <div
    *ngIf="isHandset$ | async"
    fxLayout="layout"
    fxlayoutAlign="space-between"
    class="example-item-data"
  >
    <div class="example-item-data">
      <div class="mat-caption">
        {{ item.time_exchange | date: "medium" }}
      </div>
      <div class="mat-caption">
        <span class="mat-caption">size: </span>{{ item.size }}
      </div>
      <h2 class="mat-h2">
        {{ item.price }}
      </h2>
    </div>
    <div fxFlex="0 1 15px" [style.backgroundColor]="color">&nbsp;</div>
  </div>
</ng-template>

<ng-template #buttonDisconnect>
  <button
    #buttonDisconnect
    *ngIf="isConnected"
    mat-raised-button
    color="warn"
    (click)="close()"
  >
    Stop/close connection
  </button>
</ng-template>

<ng-template #buttonConnect>
  <button
    *ngIf="!isConnected"
    mat-raised-button
    color="primary"
    (click)="open()"
  >
    connect to COIN API websocket server
  </button>
</ng-template>
