<mat-expansion-panel hideToggle [expanded]="isExpanded">
  <mat-expansion-panel-header>
    <mat-panel-title> ColorRange </mat-panel-title>
    <mat-panel-description>
      <span *ngIf="!(isHandset$ | async)"
        >Config colors for Your data range</span
      >
    </mat-panel-description>
  </mat-expansion-panel-header>
  <div fxLayout="column" fxLayoutAlign="space-between" class="config-container">
    <div fxLayout fxLayoutAlign="space-between">
      <div
        fxFlex.gt-sm="60"
        fxLayout="row wrap"
        fxLayoutGap="10px"
        fxLayoutAlign="start center"
      >
        <ng-container *ngIf="isHandset$ | async">
          <button
            mat-mini-fab
            *ngFor="let c of colors; index as i"
            [style.backgroundColor]="c.color"
            (click)="changeColor(c)"
            matTooltip="{{ c.min }} - {{ c.max }}"
          ></button>
        </ng-container>

        <ng-container *ngIf="!(isHandset$ | async)">
          <button
            mat-fab
            *ngFor="let c of colors; index as i"
            class="color-box"
            [style.backgroundColor]="c.color"
            (click)="changeColor(c)"
            matTooltip="{{ c.min }} - {{ c.max }}"
          ></button>
        </ng-container>

        <div class="vertical-space">&nbsp;</div>

        <button mat-mini-fab color="primary" (click)="add()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div>
        <h4 class="mat-h4">{{ rangeInfo.info }}</h4>
      </div>
    </div>

    <div fxLayout class="percentage-container">
      <div
        *ngFor="let percentage of percentageRange"
        [fxFlex]="percentage.percentage * 100"
        [style.backgroundColor]="percentage.color"
        (click)="changeColor(percentage)"
      ></div>
    </div>
  </div>
</mat-expansion-panel>
