<div
  class="menu-container"
  fxLayout="column"
  fxLayoutAlign="space-between start"
>
  <section *ngIf="bookmarked.length > 0" class="bookmark">
    <h4 class="mat-h4">bookmark</h4>
    <mat-chip-list>
      <ng-container *ngFor="let booked of bookmarked">
        <div>
          &nbsp;
          <mat-chip (click)="navTo(booked.route)"
            >{{ booked.caption }}
            <mat-icon (click)="remove(booked)" matChipRemove>cancel</mat-icon>
          </mat-chip>
        </div>
      </ng-container>
    </mat-chip-list>
  </section>

  <mat-form-field appearance="outline" fxFill>
    <mat-label>Search</mat-label>
    <input
      matInput
      [formControl]="search$"
      type="search"
      placeholder="search"
    />
  </mat-form-field>

  <nav fxFill>
    <cdk-virtual-scroll-viewport [itemSize]="60" class="example-viewport">
      <div
        *cdkVirtualFor="let item of menu; index as i; templateCacheSize: 0"
        class="example-item"
      >
        <ng-container *ngIf="!item.isBookmarked">
          <ng-container
            *ngTemplateOutlet="menuItem; context: { data: item, other: 'whaa' }"
          ></ng-container>
        </ng-container>
      </div>
    </cdk-virtual-scroll-viewport>
  </nav>
</div>

<ng-template #menuItem let-item="data">
  <div
    routerLinkActive="active-link"
    class="menu-item"
    *ngIf="!item.isBookmarked"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <a [routerLink]="item.route" (click)="menuSelected(item)">
      <div fxLayout fxLayoutGap="10px" fxLayoutAlign="start center">
        <div>
          <mat-icon color="primary">&nbsp;{{ item.icon }}</mat-icon>
        </div>

        <div fxLayout="column" fxLayoutAlign="center start">
          <div class="mat-h3">
            {{ item.caption | uppercase }}
          </div>
          <div class="mat-small">
            {{ item.group }}
          </div>
        </div>
      </div>
    </a>
    <div>
      <mat-icon (click)="bookmark(item)" mat-mini-fab color="primary"
        >favorite</mat-icon
      >
    </div>
  </div>
</ng-template>
