$minWidth: 200px;

.bookmark {
  padding: 5px;
}

.menu-container {
  padding: 5px;
}

nav {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.menu-item {
  min-height: 60px;
  padding: 2px;
  border-bottom: 2px solid #e0e0e0;
  cursor: pointer;
}
a {
  text-decoration: none;
}

.mat-h3 {
  padding: 0;
  margin: 0;
}

.active-link {
  border-bottom: 2px solid darkgoldenrod;
  position: relative;
}

.active-link::before {
  position: absolute;
  content: "";
  bottom: -10px;
  left: -2.5%;
  width: 105%;
  height: 120%;
  background-color: #3f51b5;
  z-index: -1;
  opacity: 0.1;
}
