<section>
  <h3 class="mat-h3">Coin API Exchanges</h3>
  <button mat-raised-button (click)="refresh()">refresh</button>
</section>

<div class="progress-container">
  <mat-progress-bar
    *ngIf="dataSource.isGettingData$ | async"
    color="warn"
    mode="indeterminate"
  ></mat-progress-bar>
</div>

<div class="table-container mat-elevation-z8">
  <table mat-table class="full-width-table" matSort aria-label="Elements">
    <!-- dynamic columns -->

    <div>
      <ng-container
        *ngFor="let c of tableColumns; index as i"
        [matColumnDef]="c.definition"
        [sticky]="i == 0"
      >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ c.caption }}
        </th>
        <td mat-cell *matCellDef="let row" [ngSwitch]="c.type">
          <span *ngSwitchCase="'number'">{{ row[c.definition] | number }}</span>
          <span *ngSwitchCase="'date'">{{ row[c.definition] | date }}</span>
          <span *ngSwitchCase="'dateMedium'">{{
            row[c.definition] | date: "medium"
          }}</span>
          <span *ngSwitchCase="'string'">{{ row[c.definition] }}</span>
        </td>
      </ng-container>
    </div>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource?.data?.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="[10, 25, 50, 250]"
  >
  </mat-paginator>
</div>
