.table-container {
  overflow: auto;
}

table {
  width: 1500px;
}

.mat-column-number,
.mat-column-state {
  max-width: 65px;
}

.mat-column-created {
  max-width: 150px;
}

.progress-container {
  height: 10px;
}
