.even-item {
  background-color: aliceblue;
}

.error-block {
  display: block;
}

.errors-list {
  margin-top: 5px;
  overflow-y: auto;
}

.viewport {
  width: 100%;
}

.odd-item {
  background-color: antiquewhite;
}
