<p>coin-api works!</p>

<a routerLink="/home">go Home</a>

<div fxLayout="column" fxLayoutGap="50px" fxLayoutAlign="space-between">
  <app-basic-table
    title="Coin API Order Book"
    subtitle="Current - expandable"
    [dataSource]="dataSourceOrderBook"
    [columnWidthDefault]="350"
  >
    <ng-template #expandedRow let-element>
      <div fxLayout fxLayoutGap="15px">
        <div>
          <h4 class="mat-h4">Asks</h4>
          {{ element.asks.length }}
        </div>
        <div>
          <h4 class="mat-h4">Bids</h4>
          {{ element.bids.length }}
        </div>
      </div>
    </ng-template>
  </app-basic-table>

  <app-basic-table
    title="Coin API - Quotes"
    subtitle="Awesome table"
    [dataSource]="dataSourceQuotes"
  >
    <ng-template #expandedRow let-element>
      <div
        *ngIf="element.last_trade"
        fxLayout
        fxLayoutGap="10px"
        fxLayoutAlign="space-around center"
      >
        <div class="border">
          <div class="mat-display-4">
            <span class="mat-small">prize: </span>
            {{ element.last_trade.price }}
          </div>
          <div class="mat-display-3">
            <span class="mat-small">size: </span>{{ element.last_trade.size }}
          </div>
        </div>
        <div fxFlex="1 1 450px">
          <div fxLayout="column">
            <div class="mat-caption">
              uuid:
              <strong>{{ element.last_trade.uuid }}</strong>
            </div>
            <div>
              <span
                >trade time:
                <strong>{{
                  element.last_trade.time_exchange | date: "medium"
                }}</strong>
              </span>
            </div>
            <span
              >coinAPI time:
              <strong>{{
                element.last_trade.time_coinapi | date: "medium"
              }}</strong>
            </span>
          </div>
        </div>
        <div>
          <pre>{{ element | json }}</pre>
        </div>
      </div>
    </ng-template>
  </app-basic-table>

  <app-basic-table
    title="Coin API - Exchanges"
    subtitle="Awesome table"
    [dataSource]="dataSourceExchanges"
  ></app-basic-table>

  <app-basic-table
    title="Coin API - Trades /latest"
    subtitle="Awesome table"
    [dataSource]="dataSourceTrades"
  ></app-basic-table>

  <hr />
  <!-- <app-coin-api-quotes></app-coin-api-quotes>
  <app-coin-api-exchanges></app-coin-api-exchanges>
  <app-trades></app-trades> -->
</div>
