<div fxLayout="column" *ngIf="ratePairsOptions.length > 0">
  <div
    fxLayout
    fxLayoutAlign="space-between center"
    class="config-buttons-container"
  >
    <div>
      <h3 class="mat-h3">Rate Pair config panel</h3>
      <p class="mat-body">
        Pairs available: (<strong>{{ ratePairsOptions.length }}</strong
        >)
      </p>
    </div>
    <button
      mat-mini-fab
      [disabled]="pointCharts$.invalid"
      (click)="addChart()"
      [matBadge]="pointCharts$.controls.length"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <ng-container [formGroup]="rForm$">
    <ng-container *ngFor="let chart of pointCharts$.controls; index as index">
      <app-exchange-rate-panel-item
        [rForm$]="getPointChartGroup$(index)"
        [isDisabled]="pointCharts$.controls.length === 1"
        [ratePairsOptions]="ratePairsOptions"
        (delete)="removeChart(index)"
      ></app-exchange-rate-panel-item>
    </ng-container>
  </ng-container>
</div>
