<div fxLayout="column" *ngIf="ratePairsOptions.length > 0; else collectingData">
  <div
    fxLayout
    fxLayoutAlign="space-between center"
    class="config-buttons-container"
  >
    <div>
      <p class="mat-body">
        Pairs available: (<strong>{{ ratePairsOptions.length }}</strong
        >)
      </p>
    </div>
    <button
      mat-mini-fab
      [disabled]="pointCharts$.invalid"
      (click)="addChart()"
      [matBadge]="pointChartsLength"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <ng-container [formGroup]="rForm$">
    <ng-container *ngFor="let chart of pointCharts$.controls; index as index">
      <app-exchange-rate-panel-item
        @appearUpDown
        (rateSelected)="panelRatePairSelected($event, index)"
        [isDisabled]="pointCharts$.controls.length === 1"
        [ratePairsOptions]="ratePairsOptions"
        (delete)="removeChart(index)"
      ></app-exchange-rate-panel-item>
    </ng-container>
  </ng-container>
</div>

<ng-template #collectingData>
  <h3>...collecting data</h3>
</ng-template>
