<p>color-range works!</p>
<section class="container">
  <section class="color-config-container">
    <h4 class="mat-h4">Price color scale</h4>
    <div fxLayout="row wrap" fxLayoutAlign="space-between center">
      <div>
        <div [formGroup]="rForm">
          <mat-form-field>
            <input
              matInput
              formControlName="min"
              placeholder="min"
              type="number"
            />
          </mat-form-field>

          <mat-form-field>
            <input
              matInput
              formControlName="max"
              placeholder="max"
              type="number"
            />
          </mat-form-field>
        </div>

        <div *ngIf="isEditMode">
          <button
            [disabled]="rForm.invalid"
            mat-mini-fab
            (click)="updateColor()"
          >
            <mat-icon>save</mat-icon>
          </button>
          <button mat-mini-fab (click)="removeColor()">
            <mat-icon>remove</mat-icon>
          </button>
          <button mat-mini-fab>
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </div>

      <div>
        <input #colorInput type="color" style="display: inline-block" />
      </div>
    </div>

    <div fxLayout="row wrap" fxLayoutGap="5px">
      <button
        mat-fab
        *ngFor="let c of colors; index as i"
        class="color-box"
        [style.backgroundColor]="c.color"
        (click)="changeColor(c)"
        matTooltip="{{ c.min }} - {{ c.max }}"
      ></button>
    </div>
  </section>
</section>

{{ colors.length }}
<!-- <pre>{{ colors | json }}</pre> -->
