.asks-or-bids-container {
  min-width: 250px;
  min-height: 350px;
  overflow: auto;
}

.book-order-asks {
  overflow: auto;
  max-height: 100px;
}

.example-viewport {
  height: 200px;
  width: 250px;
}

.example-item {
  height: 50px;
}
