<section>
  <h2 class="mat-h2">{{ title }}</h2>
  <h4 class="mat-h4">basic table</h4>

  <div fxLayout="row" fxLayoutAlign="space-between center" class="table-menu">
    <mat-form-field>
      <mat-label>Search...</mat-label>
      <input matInput [formControl]="dataSource.filterSearch$" type="search" />
      <mat-hint align="start">active data filter</mat-hint>
    </mat-form-field>

    <button mat-raised-button color="warn" (click)="dataSource.refresh()">
      refresh
    </button>
  </div>
</section>

<div class="progress-container">
  <mat-progress-bar
    *ngIf="dataSource.isGettingData$ | async"
    color="warn"
    mode="indeterminate"
  ></mat-progress-bar>
</div>

<div class="table-container mat-elevation-z8">
  <table
    mat-table
    class="full-width-table"
    matSort
    aria-label="Elements"
    [style.width.px]="dataSource.displayedColumns.length * 175"
  >
    <!-- dynamic columns -->

    <div>
      <ng-container
        *ngFor="let c of dataSource.tableColumnsDefinition; index as i"
        [matColumnDef]="c.propName"
        [sticky]="i == 0"
      >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          {{ c.caption }}
        </th>
        <td mat-cell *matCellDef="let row" [ngSwitch]="c.type">
          <span *ngSwitchCase="'number'">{{ row[c.propName] | number }}</span>
          <span *ngSwitchCase="'date'">{{ row[c.propName] | date }}</span>
          <span *ngSwitchCase="'dateMedium'"
            >{{ row[c.propName] | date: "medium" }}</span
          >
          <span *ngSwitchCase="'string'">{{ row[c.propName] }}</span>
          <span *ngSwitchCase="'www'"
            ><a [attr.href]="row[c.propName]" target="_blank"
              >{{ row[c.propName] }}</a
            ></span
          >
          <span *ngSwitchCase="'email'"
            ><a [attr.href]="'mailto:' + row[c.propName]" target="_blank"
              >{{ row[c.propName] }}</a
            ></span
          >
        </td>
      </ng-container>
    </div>

    <tr mat-header-row *matHeaderRowDef="dataSource.displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: dataSource.displayedColumns"></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource?.filteredData?.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="dataSource.pageSizeOptions"
  >
  </mat-paginator>
</div>
