.border {
  margin: 2px 0 2px 0;
  border: 1px solid lightgrey;
  padding: 1.5em;
}
.table-container {
  overflow: auto;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
}

.progress-container {
  height: 10px;
}

.warning-info {
  color: red;
  padding: 1em;
}
