<section>
  <h2 class="mat-h2">{{ title }}</h2>
  <h4 class="mat-h4">basic table</h4>
  <div class="warning-info">{{ dataSource.errorInfo }}</div>

  <div fxLayout="row" fxLayoutAlign="space-between center" class="table-menu">
    <mat-form-field>
      <mat-label>Search...</mat-label>
      <input matInput [formControl]="dataSource.filterSearch$" type="search" />
      <mat-hint align="start">active data filter</mat-hint>
    </mat-form-field>

    <button mat-raised-button color="warn" (click)="dataSource.refresh()">
      refresh
    </button>
  </div>
</section>

<div class="progress-container">
  <mat-progress-bar
    *ngIf="dataSource.isGettingData$ | async"
    color="warn"
    mode="indeterminate"
  ></mat-progress-bar>
</div>

<div class="table-container mat-elevation-z8">
  <table
    mat-table
    multiTemplateDataRows
    matSort
    aria-label="Elements"
    [style.width.px]="dataSource.displayedColumns.length * 175"
  >
    <!-- dynamic columns -->

    <ng-container
      *ngFor="let element of dataSource.tableColumnsDefinition; index as i"
      [matColumnDef]="element.propName"
      [sticky]="i == 0"
    >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ element.caption }}
      </th>
      <td mat-cell *matCellDef="let row" [ngSwitch]="element.type">
        <span *ngSwitchCase="'number'">{{
          row[element.propName] | number
        }}</span>
        <span *ngSwitchCase="'date'">{{ row[element.propName] | date }}</span>
        <span *ngSwitchCase="'dateMedium'">{{
          row[element.propName] | date: "medium"
        }}</span>
        <span *ngSwitchCase="'string'">{{ row[element.propName] }}</span>
        <span *ngSwitchCase="'www'"
          ><a [attr.href]="row[element.propName]" target="_blank">{{
            row[element.propName]
          }}</a></span
        >
        <span *ngSwitchCase="'email'"
          ><a [attr.href]="'mailto:' + row[element.propName]" target="_blank">{{
            row[element.propName]
          }}</a></span
        >
      </td>
    </ng-container>

    <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let element"
        [attr.colspan]="dataSource.displayedColumns.length"
      >
        <div
          class="example-element-detail"
          [@detailExpand]="
            element == expandedElement ? 'expanded' : 'collapsed'
          "
        >
          <div
            *ngIf="element.last_trade"
            fxLayout
            fxLayoutGap="10px"
            fxLayoutAlign="space-around center"
          >
            <div class="border">
              <div class="mat-display-4">
                <span class="mat-small">prize: </span>
                {{ element.last_trade.price }}
              </div>
              <div class="mat-display-3">
                <span class="mat-small">size: </span
                >{{ element.last_trade.size }}
              </div>
            </div>
            <div fxFlex="1 1 450px">
              <div fxLayout="column">
                <div class="mat-caption">
                  uuid:
                  <strong>{{ element.last_trade.uuid }}</strong>
                </div>
                <div>
                  <span
                    >trade time:
                    <strong>{{
                      element.last_trade.time_exchange | date: "medium"
                    }}</strong>
                  </span>
                </div>
                <span
                  >coinAPI time:
                  <strong>{{
                    element.last_trade.time_coinapi | date: "medium"
                  }}</strong>
                </span>
              </div>
            </div>
            <div>
              <pre>{{ element | json }}</pre>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="dataSource.displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let element; columns: dataSource.displayedColumns"
      class="example-element-row"
      [class.example-expanded-row]="expandedElement === element"
      (click)="expandedElement = expandedElement === element ? null : element"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="example-detail-row"
    ></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource?.filteredData?.length"
    [pageIndex]="0"
    [pageSize]="10"
    [pageSizeOptions]="dataSource.pageSizeOptions"
  >
  </mat-paginator>
</div>
