<app-exchange-rate-panel
  *ngIf="ratePairOptions.length > 0"
  (chartsSelected)="ratesSelected($event)"
  [ratePairsOption]="ratePairOptions"
></app-exchange-rate-panel>

<div class="controls-container">
  <button mat-raised-button [matBadge]="coinPairs.length" (click)="getTrades()">
    get exchange rates
  </button>
  <button mat-mini-fab (click)="stop()"><mat-icon>stop</mat-icon></button>
  <button mat-button (click)="test()">test</button>

  <mat-form-field>
    <input
      [formControl]="maxPointsCount$"
      matInput
      placeholder="points on chart ({{ maxPointsCount }})"
    />
  </mat-form-field>
</div>

<mat-divider></mat-divider>

<div fxLayout="row wrap">
  <ng-container
    *ngFor="let selectedChart of selectedCharts; index as i; first as isFirst"
  >
    <mat-card [fxFlex]="selectedChart.width">
      <div fxLayout fxLayoutAlign="space-between center">
        <div fxLayout fxLayoutGap="5px" fxLayoutAlign="center center">
          <img
            [attr.src]="selectedChart.chart.asset_id_base_logo"
            mat-card-avatar
            class="example-header-image"
          />
          <div>&nbsp;=>&nbsp;</div>
          <img
            [attr.src]="selectedChart.chart.asset_id_quote_logo"
            mat-card-avatar
            class="example-header-image"
          />
        </div>
        <div>
          <h2 class="h2">{{ selectedChart.chart.name }}</h2>
        </div>
      </div>
      <mat-card-content>
        <mat-divider></mat-divider>

        <app-exchange-rate-chart
          [selectedChart]="selectedChart"
        ></app-exchange-rate-chart>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
