<p>rxjs-websockets works!</p>

<div
  *ngIf="isSelected"
  @appearUpDown
  class="info-container"
  [ngStyle]="selectedPosition"
>
  <h4 class="mat-h4">&nbsp;{{ selected?.time | date: "medium" }}</h4>
  <h2 class="mat-h2">
    <strong>{{ selected?.rate }}</strong>
  </h2>
  <!-- <div class="body">
    {{ selected?.valueChangePercentage | percent: "0.2-3" }}
  </div>
  <div class="body" [style.color]="selected?.color">
    {{ selected?.valueChange }}
  </div> -->
</div>

<div class="controls-container" fxLayout fxLayoutGap="10px">
  <button mat-raised-button [matBadge]="coinPairs.length" (click)="getTrades()">
    get exchange rates
  </button>
  <button mat-mini-fab (click)="stop()"><mat-icon>stop</mat-icon></button>
  <button mat-button (click)="test()">test</button>

  <button mat-mini-fab (click)="indexPrev()">
    <mat-icon>navigate_before</mat-icon>
  </button>
  <button mat-mini-fab (click)="indexNext()">
    <mat-icon>navigate_next</mat-icon>
  </button>
  <h4 mat-h4>
    {{ pairIndex }}
  </h4>

  <mat-form-field>
    <input
      [formControl]="maxPointsCount$"
      matInput
      placeholder="points on chart ({{ maxPointsCount }})"
    />
  </mat-form-field>
</div>

<mat-divider></mat-divider>

<div fxLayout="row wrap" fxLayoutGap="5px">
  <ng-container *ngFor="let pair of coinPairs; index as i; first as isFirst">
    <mat-card
      *ngIf="i === pairIndex"
      fxFlex="100"
      fxFlex.gt-md="calc(50%-5px)"
      fxFlex.gt-lg="calc(33%-5px)"
    >
      <div fxLayout fxLayoutAlign="space-between center">
        <div fxLayout fxLayoutGap="5px" fxLayoutAlign="center center">
          <img
            [attr.src]="pair.asset_id_base_logo"
            mat-card-avatar
            class="example-header-image"
          />
          <div>&nbsp;=>&nbsp;</div>
          <img
            [attr.src]="pair.asset_id_quote_logo"
            mat-card-avatar
            class="example-header-image"
          />
        </div>
        <div>
          <h2 class="h2">{{ pair.name }}</h2>
        </div>
      </div>
      <mat-card-content>
        <mat-divider></mat-divider>

        <app-svg-point-chart
          (pointSelected)="pointSelected($event)"
          [pointChart]="pair.pointChart"
        ></app-svg-point-chart>

        <cdk-virtual-scroll-viewport
          [itemSize]="itemHeight"
          [style.height.px]="itemHeight * itemOnView"
        >
          <div
            [ngClass]="{ 'odd-item': odd, 'even-item': even }"
            [style.height.px]="itemHeight"
            class="viewport-item"
            *cdkVirtualFor="
              let rate of pair.rates;
              let index = index;
              let count = count;
              let first = first;
              let last = last;
              let even = even;
              let odd = odd
            "
          >
            <div
              fxLayout
              fxLayoutAlign="space-between"
              [style.height.px]="itemHeight"
            >
              <h4 class="mat-h4">
                {{ index + 1 }} | {{ rate.time | date: "medium" }} |
                <strong>{{ rate.rate }}</strong>
              </h4>
            </div>
          </div>
        </cdk-virtual-scroll-viewport>
      </mat-card-content>
    </mat-card>
  </ng-container>
</div>
