.border {
  margin: 2px 0 2px 0;
  border: 1px solid lightgrey;
  padding: 1.5em;
}
.table-container {
  overflow: auto;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
}

.example-element-diagram {
  min-width: 150px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.progress-container {
  height: 10px;
}

.warning-info {
  color: red;
  padding: 1em;
}
